<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sintomas</title>
</head>
<body>

    <h2> {{.Age}} </h2> <br>
    <h2> {{.Sex}} </h2>

    <form action="/lol" method="POST">
        <input type="checkbox" name="same" value="D_Cabeza"> Dolor de Cabeza <br>
        <input type="checkbox" name="same" value="D_Muscular"> Dolor Muscular <br>
        <input type="checkbox" name="same" value="Mareo"> Mareo <br>
        <input type="checkbox" name="same" value="Vomito"> Vomito <br>
        <input type="submit">
    </form>
    
</body>
</html>