<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sintomas</title>
</head>
<body>

    <h2> {{.Usr.Age}} </h2> <br>
    <h2> {{.Usr.Sex}} </h2>

    <form action="/lol" method="POST">
        {{range .Lst}}
        <input type="checkbox" name="same" value="{{.Id}}"> {{.Nombre}} {{.Id}} <br>
        {{end}}
        <input type="submit">
    </form>
    
</body>
</html>